/* public-box */
.public-box{
    box-shadow: 0 0 20px #aaa;
    background-color: #fff;
    padding: 0 25px;
    header{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-bottom: 1px solid #dfe4ef;
        color: #0377ff;
        span{
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #0377ff;
            border-radius: 50%;
            color: #fff;
            margin-top: 10px;
            margin-right: 10px;
        }
    }
}
